{% extends 'base.html' %} {% load static %} {% load main_app_tags %}
{% block content %}


<!-- Page info section -->
<section
  class="page-info-section set-bg"
  data-setbg="{% static 'main_app/img/page-top-bg/3.jpg' %}"
>
  <div class="pi-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 text-white">
          <h2>Каталог Игр</h2></span>
          <p>
            За каждую покупку Вам начисляется бонус, который в последующем можно
            потратить на новые покупки.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page info section -->

<!-- Page section -->
<section class="page-section review-page">
  <div class="row">
    <div class="block_1">
      <div class="genre-text">
        <table class="table-content" border="0" cellpadding="0" cellspacing="0">
          <!-- Sidebar слева -->
          <td valign="top" class="left-chapters">
            <ul id="leftchapters">
              {% show_category genre_selected %}
            </ul>
          </td>
        </table>
      </div>
    </div>

    <div class="community-warp_ spad">
      <div class="container">
        <div class="row">
          {% show_games data_from_db %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page section end -->
{% endblock %}
