{% load static %}
<section
  class="page-info-section set-bg"
  data-setbg="{% static data.path_to_img %}"
>
<!--  <div class="pi-content">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-xl-5 col-lg-6 text-white">-->
<!--          <h2>{{ data.title }}</h2></span>-->
<!--          <p>-->
<!--            {% autoescape off %}-->
<!--            {{ data.description }}-->
<!--            {% endautoescape %}-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</section>
