{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Page info section -->
<section
  class="page-info-section set-bg"
  data-setbg="{% static data_from_db.path_to_img %}"
>
<!--  <div class="pi-content">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-xl-5 col-lg-6 text-white">-->
<!--          <h2>Купить {{data_from_db.title}}</h2>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</section>
<!-- Page info section -->

<!-- Page section -->
<section class="page-section community-page set-bg photo-specific">
  <div class="row">
    <div class="col-9">
      <div class="community-warp_2 spad_">
        <div class="container">
          <div class="community-post-list_">
            <div class="des-block">
              <h4>Купить {{data_from_db.title}}</h4>
            </div>
            <div class="my-block">
              <div class="community-post">
                <div class="post-content_">
                  <div class="row">
                    <div class="attachment-file_">
                      <img
                        src="{% static data_from_db.gameinfo.path_to_mini_img %}"
                        alt="load {{data_from_db.path_to_img}}"
                      />
                    </div>
                    <div class="col-7">
                      <div class="sub-block">
                        <hr />
                        <div class="container text-center">
                          <div class="row">
                            <div class="my-col-small">Издатель:</div>
                            <div class="my-col2-small">{{data_from_db.gameinfo.publisher}}</div>
                          </div>
                        </div>
                        <hr />
                        <div class="container text-center">
                          <div class="row">
                            <div class="my-col-small">Разработчик:</div>
                            <div class="my-col2-small">{{data_from_db.gameinfo.developer}}</div>
                          </div>
                        </div>
                        <hr />
                        <div class="container text-center">
                          <div class="row">
                            <div class="my-col-small">Жанр:</div>
                            <div class="my-col2-small">{{data_from_db.genre.name}}</div>
                          </div>
                        </div>
                        <hr />
                        <div class="container text-center">
                          <div class="row">
                            <div class="my-col-small">Дата выхода игры:</div>
                            <div class="my-col2-small">{{data_from_db.gameinfo.date_release}}</div>
                          </div>
                        </div>
                        <hr />
                        <div class="container text-center">
                          <div class="row">
                            <div class="my-col-small">Локализация:</div>
                            <div class="my-col2-small">
                              {{data_from_db.gameinfo.local}}
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="container text-center">
                          <div class="row">
                            <div class="my-col-small">Система активации::</div>
                            <div class="my-col2-small">{{data_from_db.gameinfo.system}}</div>
                          </div>
                        </div>
                        <hr />
                        <div class="container text-center">
                          <div class="row">
                            <div class="my-col-small">Возрастной рейтинг:</div>
                            <div class="my-col2-small">{{data_from_db.gameinfo.age_rating}}</div>
                          </div>
                        </div>
                        <hr />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="community-post-list_">
            <div class="des-block">
              <h4>Описание игры</h4>
            </div>
            <div class="my-block">
              <div class="community-post">
                <p>
                  {{data_from_db.gameinfo.description}}
                </p>
              </div>
              <!-- </li> -->
            </div>
          </div>
        </div>
        <div class="container">
          <div class="community-post-list_">
            <div class="des-block">
              <h4>Особенности игры</h4>
            </div>
            <div class="my-block">
              <div class="community-post">
                <div class="sub-block">
                  <ul>
                    {% for item in data_from_db.gameinfo.list_features %}
                      <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="community-post-list_">
            <div class="des-block">
              <h4>Что я приобретаю</h4>
            </div>
            <div class="my-block">
              <div class="community-post">
                <p>
                  Чтобы купить ключ Millennia для PC, вам понадобится всего
                  несколько минут. После оплаты вы получите на e-mail
                  <br />
                  лицензионный ключ для системы {{data_from_db.gameinfo.system}}. Сразу после его активации
                  игра автоматически скачается и установится на ваш компьютер.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="community-post-list_">
            <div class="des-block">
              <h4>Системные требования</h4>
            </div>
            <div class="my-block">
              <div class="community-post">
                <div class="sub-block">
                  <h6>Минимальные системные требования</h6>
                  <ul>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Операционная система:</div>
                          <div class="my-col2">Windows® 10 Home 64 Bit</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Процессор:</div>
                          <div class="my-col2">
                            Intel® Core™ i5-6600K | AMD® Ryzen™ 3 2300X
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Оперативная память:</div>
                          <div class="my-col2">8 GB ОЗУ</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Видеокарта:</div>
                          <div class="my-col2">
                            Nvidia® GeForce™ GTX 660 (2GB) | AMD® Radeon™ R9 380
                            (4GB)
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Место на диске:</div>
                          <div class="my-col2">10 GB</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <hr />
                  <h6>Рекомендуемые системные требования</h6>
                  <ul>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Операционная система:</div>
                          <div class="my-col2">Windows® 10 Home 64 Bit</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Процессор:</div>
                          <div class="my-col2">
                            Intel® Core™ i5-6600K | AMD® Ryzen™ 3 2300X
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Оперативная память:</div>
                          <div class="my-col2">8 GB ОЗУ</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Видеокарта:</div>
                          <div class="my-col2">
                            Nvidia® GeForce™ GTX 660 (2GB) | AMD® Radeon™ R9 380
                            (4GB)
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Место на диске:</div>
                          <div class="my-col2">10 GB</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-block"></div>
  </div>
</section>
<!-- Page section end -->
{% endblock %}
