{% extends 'base.html' %} {% load static %} {% load main_app_tags %}
{% block content %}

<!-- Page info section -->
<section
  class="page-info-section set-bg"
  data-setbg="{% static gameinfo_db.path_to_img %}"
>
</section>

<!-- Page section -->
<section class="page-section community-page set-bg photo-specific">
  <div class="row">
    <div class="col-9">
      <div class="community-warp_2 spad_">
        <div class="container">
          <div class="community-post-list_">
            <div class="des-block">
              <h4>Купить {{games_db.title}}</h4>
            </div>
            <div class="my-block">
              <div class="community-post">
                <div class="post-content_">
                  <div class="row">
                    <div class="attachment-file_">
                      <img
                        src="{% static gameinfo_db.path_to_mini_img %}"
                        alt="load {{gameinfo_db.path_to_img}}"
                      />
                    </div>
                    <div class="col-7">
                      <div class="sub-block">
                        <hr />
                        {% for item1, item2 in gameinfo_db.main_info %}
                          <div class="container text-center">
                            <div class="row">
                              <div class="my-col-small">{{item1}}:</div>
                              <div class="my-col2-small">{{item2}}</div>
                            </div>
                          </div>
                          <hr />
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% show_description gameinfo_db %}
        <div class="container">
          <div class="community-post-list_">
            <div class="des-block">
              <h4>Что я приобретаю</h4>
            </div>
            <div class="my-block">
              <div class="community-post">
                <p>
                  Чтобы купить ключ Millennia для PC, вам понадобится всего
                  несколько минут. После оплаты вы получите на e-mail
                  <br />
                  лицензионный ключ для системы {{gameinfo_db.system}}. Сразу после его активации
                  игра автоматически скачается и установится на ваш компьютер.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="community-post-list_">
            <div class="des-block">
              <h4>Системные требования</h4>
            </div>
            <div class="my-block">
              <div class="community-post">
                <div class="sub-block">
                  <h6>Минимальные системные требования</h6>
                  <ul>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Операционная система:</div>
                          <div class="my-col2">Windows® 10 Home 64 Bit</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Процессор:</div>
                          <div class="my-col2">
                            Intel® Core™ i5-6600K | AMD® Ryzen™ 3 2300X
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Оперативная память:</div>
                          <div class="my-col2">8 GB ОЗУ</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Видеокарта:</div>
                          <div class="my-col2">
                            Nvidia® GeForce™ GTX 660 (2GB) | AMD® Radeon™ R9 380
                            (4GB)
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Место на диске:</div>
                          <div class="my-col2">10 GB</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <hr />
                  <h6>Рекомендуемые системные требования</h6>
                  <ul>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Операционная система:</div>
                          <div class="my-col2">Windows® 10 Home 64 Bit</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Процессор:</div>
                          <div class="my-col2">
                            Intel® Core™ i5-6600K | AMD® Ryzen™ 3 2300X
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Оперативная память:</div>
                          <div class="my-col2">8 GB ОЗУ</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Видеокарта:</div>
                          <div class="my-col2">
                            Nvidia® GeForce™ GTX 660 (2GB) | AMD® Radeon™ R9 380
                            (4GB)
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container text-center">
                        <div class="row">
                          <div class="my-col">Место на диске:</div>
                          <div class="my-col2">10 GB</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-block">
    </div>
  </div>
</section>
<!-- Page section end -->
{% endblock %}
