{% extends 'base.html' %} {% load static %} {% load main_app_tags %}

{% block content %}
<!-- Hero section -->
<section class="hero-section">
  <div class="hero-slider owl-carousel">
    {% show_main_cover cover %}
  </div>
</section>
<!-- Hero section end -->

<!-- Recent game section  -->
<section
  class="recent-game-section spad set-bg"
  data-setbg="{% static 'main_app/img/recent-game-bg.png' %}"
>
  <div class="container">
    <div class="section-title">
      <div class="cata new">new</div>
      <h2>Последние новинки</h2>
    </div>
    <div class="row">
      {% show_news data_from_db %}
    </div>
  </div>
</section>
<!-- Recent game section end -->

<!-- Tournaments section -->
<section class="tournaments-section spad">
  <div class="container">
    <div class="tournament-title">Прими участие в наших турнирах</div>
    <div class="row">
      {% show_tournaments data_from_db %}
    </div>
  </div>
</section>
<!-- Tournaments section bg -->

<!-- Review section -->
<section
  class="review-section spad set-bg"
  data-setbg="{% static 'main_app/img/review-bg.png' %}"
>
  <div class="container">
    <div class="section-title">
      <div class="cata new">new</div>
      <h2>Выгодные предложения</h2>
    </div>
    <div class="row">
      {% show_sales sale %}
    </div>
  </div>
</section>
<!-- Review section end -->
{% endblock %}
