{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Hero section -->
    <section class="hero-section">
      <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="{% static 'main_app/img/slider-1.jpg' %}">
          <div class="hs-text">
            <div class="container">
              <h2>Топовые <span>Игры</span></h2>
              <p>
                Самые свежие новинки игровой индустрии <br />
                Игровые консоли на любой вкус. У нас Вы найдете все что нужно
                <br />GameWarior для тех кто знает толк в развлечениях.
              </p>
            </div>
          </div>
        </div>
        <div class="hs-item set-bg" data-setbg="{% static 'main_app/img/slider-2.jpg' %}">
          <div class="hs-text">
            <div class="container">
              <h2>Лучшие <span>Цены</span></h2>
              <p>
                В нашем интернет-магазине лицензионных компьютерных игр можно<br />
                найти продукты всех крупных издателей<br />
                При этом цены в большинстве случаев у нас ниже: просто сравните.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero section end -->

    <!-- Recent game section  -->
    <section
      class="recent-game-section spad set-bg"
      data-setbg="{% static 'main_app/img/recent-game-bg.png' %}"
    >
      <div class="container">
        <div class="section-title">
          <div class="cata new">new</div>
          <h2>Последние новинки</h2>
        </div>
        <div class="row">
          {% for item in data_from_db %}
            {% if item.path_to_mini_img and not item.discount_percent %}
              <div class="col-lg-4 col-md-6">
                <div class="recent-game-item">
                  <div class="rgi-thumb set-bg" data-setbg="{% static item.path_to_mini_img %}">
                    <div class="cata new">{{ item.genre.name }}</div>
                  </div>
                  <div class="rgi-content">
                    <h5>{{ item.title }}</h5>
                    <p>
                      {{ item.description }}
                    </p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Recent game section end -->

    <!-- Tournaments section -->
    <section class="tournaments-section spad">
      <div class="container">
        <div class="tournament-title">Прими участие в наших турнирах</div>
        <div class="row">
          {% for item in data_from_db %}
            {% if item.is_tournament %}
              <div class="col-md-6">
                <div class="tournament-item mb-4 mb-lg-0">
                  <div class="ti-notic">Супер хит</div>
                  <div class="ti-content">
                    <div
                      class="ti-thumb set-bg"
                      data-setbg="{% static item.path_to_img %}"
                    ></div>
                    <div class="ti-text">
                      <h4>{{ item.title }}</h4>
                      <ul>
                        <li><span>Tournament Beggins:</span> June 20, 2024</li>
                        <li><span>Tounament Ends:</span> July 01, 2024</li>
                        <li><span>Participants:</span> 10 teams</li>
                        <li><span>Tournament Author:</span> School 21</li>
                      </ul>
                      <p>
                        <span>Prizes:</span> 1st place $2000, 2nd place: $1000, 3rd
                        place: $500
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Tournaments section bg -->

    <!-- Review section -->
    <section class="review-section spad set-bg" data-setbg="{% static 'main_app/img/review-bg.png' %}">
      <div class="container">
        <div class="section-title">
          <div class="cata new">new</div>
          <h2>Выгодные предложения</h2>
        </div>
        <div class="row">
          {% for item in sale %}
              <div class="col-lg-3 col-md-6">
                <div class="review-item">
                  <div class="review-cover set-bg" data-setbg="{% static item.path_to_mini_img %}">
                    {% if item.rating < 8.5 %}
                      <div class="score yellow">{{item.rating}}</div>
                    {% elif item.rating < 9 %}
                      <div class="score pink">{{item.rating}}</div>
                    {% elif item.rating < 9.5 %}
                      <div class="score green">{{item.rating}}</div>
                    {% else %}
                      <div class="score purple">{{item.rating}}</div>
                    {% endif %}
                  </div>
                  <div class="review-text">
                    <h5 class="size"><a href="{% url 'game' item.slug %}">{{ item.title }}</a></h5>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Review section end -->
{% endblock %}
