{% extends 'base.html' %} {% load static %} {% load main_app_tags %}

{% block content %}
<!-- Page info section -->
{% show_cover cover %}
<!-- Page info section -->

<!-- Page section -->
<section
  class="page-section community-page set-bg photo-specific"
  data-setbg="{% static 'main_app/img/community-bg.jpg' %}"
>
  <div class="community-warp spad">
    <div class="container">
      <ul class="community-post-list">
        {% for item in data_from_db %}
        <li>
          <div class="community-post">
            <div class="post-content_">
              <h5>ШАГ {{item.pk}}: {{item.title}}</h5>
              <div class="attachment-file">
                <img
                  src="{% static item.path_to_img %}"
                  alt="load {{item.path_to_img}}"
                />
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<!-- Page section end -->
{% endblock %}
