{% load static %}
{% for item in data_from_db %}
{% if item.gameinfo.path_to_mini_img and not item.discount_percent %}
<div class="col-lg-4 col-md-6">
  <div class="recent-game-item">
    <div
      class="rgi-thumb set-bg"
      data-setbg="{% static item.gameinfo.path_to_img %}"
    >
      <div class="cata new">{{ item.genre.name }}</div>
    </div>
    <div class="rgi-content">
      <div class="review-text">
        <a href="{% url 'game' item.slug %}">{{ item.title }}</a>
      </div>
<!--      <h5>{{ item.title }}</h5>-->
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
