{% load static %}
{% for item in data_from_db %}
  <div class="col-md-6">
    <div class="review-item">
      <div class="review-cover set-bg" data-setbg="{% static item.gameinfo.path_to_img %}">
      </div>
      <div class="review-text">
        <h4>{{item.title}}</h4>
        {% if item.discount_price %}
          <div class="review-text_price">
            <h5 class="review-text_price_old">{{item.price}} p.</h5>
            <h5 class="review-text_price_new" S>{{ item.discount_price }} p.</h5>
          </div>
        {% else %}
          <div class="review-text_price">
            <h5 class="review-text_price">{{item.price}} p.</h5>
          </div>
        {% endif %}
      </div>
      <a href="{{ item.get_absolute_url }}" class="review_buy">Купить</a>
    </div>
  </div>
{% endfor %}
